<div class="container6">
    <div class="contact-box">
        <div class="left6"></div>
        <div class="right">
            <h2>Editar un punto</h2>
            <form action="/place/edit/{{place._id}}?_method=PUT" method="POST">
                    <input type="text" name="place_name" class="field" value="{{place.place_name}}">
                    <input type="text" name="address" class="field" value="{{place.address}}">
                    <input type="text" name="phone_number" class="field" value="{{place.phone_number }}">
                    <textarea name="description" class="field">{{place.description}}</textarea>
                <button class="btn">Guardar</button>            
            </form>
        </div>
    </div>
</div>





