<section class="gallery-block cards-gallery">

    <div class="container4">
        <div class="heading">
            <h2>PUNTO DE RECICLAJE</h2>
        </div>
        <div class="row">
        {{#each places}}

            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href=""><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/eee80b91988227.5e43f0ccceda5.png" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="/place/edit/{{_id}}"> 
                        <h6>{{place_name}}</h6>
                        <p class="text-muted card-text">{{description}}</p>
                        <h6>{{phone_number}}  {{address}}</h6>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</section>

<script>
    baguetteBox.run('.cards-gallery', {
        animation: 'slideIn'
    });
</script>