<div class="container2">
	<div class="contact-box">
		<div class="left2"></div>
		<div class="right">
			<h2>Login</h2>
			<form action="/users/signup" method="post">
				<input type="text" class="field" name="name" placeholder="Nombre" value="{{name}}">  
				<input type="text" class="field" name="lastname" placeholder="lastname" value="{{lastname}}">
				<input type="number" class="field" name="id" placeholder="cedula" value="{{phone_number}}">
				<input type="number" class="field" name="phone_number" placeholder="phone_number" value="{{phone_number}}">
				<input type="email" class="field" name="email_address" placeholder="email_address" value="{{email_address}}">
				<input type="password" class="field" name="password" placeholder="password">
				<input type="password" class="field" name="confirm_password" placeholder="confirm password">
				<button class="btn">Registrate</button>
				<form action="/auth/google" method="get">
				</form>
					<form action="/auth/google">
					<button class="btn btn-gplus ">
							<i class="fab fa-google"></i>
							Registrate con Google
					</button>
				</form>
			
			</form>
		</div>
	</div>
</div>